doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom object table
        a(href="/update-cobj") Add/Update this table
    table(border="1")
      thead
        tr
          th Name
          th Type
          th Color
      tbody
        each record in records
          tr
            td= record.properties.plant_name
            td= record.properties.plant_type
            td= record.properties.plant_color